/* Your CSS styles go here */
body{
    background: black;
}
#page-top{
    background: white;
    max-width: 960px;
    margin: auto;
}
#address{
    background: orange;
}
#education{
    background: red;
}
#skill{
    background: greenyellow;
}
#interest{
    background: pink;
}
#contact{
    background: magenta;
}
